{% extends 'base.html' %}

{% block content %}
<content id="signup-holder" class="signup-holder">
    <div id="extra-select-holder" class="signdiv extra-select-main" style="display: none;">
        <div id="extra-sel" class="extra-sel-content">
        <div id="extra-sel-header" class="section-info extra-sel-header">This class requires an additional section. Please select from the list below</div>
        <div id="extra-sel-body" class="section-info extra-sel-body">
            <div id="extra-sel-list">
            </div>
        </div>
            <div id="extra-select-btns" class="btn-group mb-2 ml-2" role="group">
                <button id="extra-select-confirm" class="btn btn-primary btn-success">Select</button>
                <button id="extra-select-cancel" class="btn btn-primary btn-danger">Cancel</button>
            </div>
        </div>
    </div>
    <div id="section-info-holder" class="signdiv section-info-main">
        <div id="sec-info-content" class="section-info-content">
            <div class="section-info si-header"></div>
            <div class="section-info si-time"></div>
            <div class="section-info si-days"></div>
            <div class="section-info si-date"></div>
            <div class="section-info si-extra"></div>
            <div class="section-info si-chrs"></div>
            <div class="section-info si-instructor"></div>
            <div class="section-info si-description"></div>
            <button id="section-info-close" class="btn btn-danger mb-2 mr-2">Close</button>
            <div id="section-info-selection" class="btn-group mb-2 ml-2" role="group">
                <button id="section-info-register" class="btn btn-primary btn-success">Register</button>
                <button id="section-info-unregister" class="btn btn-primary btn-danger">Unregister</button>
            </div>
        </div>
    </div>
    <div id="loading-indicator" class="signdiv loading-div">
        <img src="{{ url_for('static', filename='images/loading.gif') }}" class="loading-icon">
    </div>
    <div id="curClasses-main" class="signdiv signup-main">
        <div class="mon-holder day-holder" id="cur-mon-holder">
            <div class="day-header" id="cur-mon-header">Monday</div>
        </div>
        <div class="tue-holder day-holder" id="cur-tue-holder">
            <div class="day-header" id="cur-tue-header">Tuesday</div>
        </div>
        <div class="wed-holder day-holder" id="cur-wed-holder">
            <div class="day-header" id="cur-wed-header">Wednesday</div>
        </div>
        <div class="thu-holder day-holder" id="cur-thu-holder">
            <div class="day-header" id="cur-thu-header">Thursday</div>
        </div>
        <div class="fri-holder day-holder" id="cur-fri-holder">
            <div class="day-header" id="cur-fri-header">Friday</div>
        </div>
    </div>
    <div id="signup-main" class="signdiv signup-main" style="display: none;">
        <div class="mon-holder day-holder" id="full-mon-holder">
            <div class="day-header" id="full-mon-header">Monday</div>
        </div>
        <div class="tue-holder day-holder" id="full-tue-holder">
            <div class="day-header" id="full-tue-header">Tuesday</div>
        </div>
        <div class="wed-holder day-holder" id="full-wed-holder">
            <div class="day-header" id="full-wed-header">Wednesday</div>
        </div>
        <div class="thu-holder day-holder" id="full-thu-holder">
            <div class="day-header" id="full-thu-header">Thursday</div>
        </div>
        <div class="fri-holder day-holder" id="full-fri-holder">
            <div class="day-header" id="full-fri-header">Friday</div>
        </div>
    </div>
    <div id="selected-holder" class="signdiv signup-sel mr-4 ml-4">
        <div class="list-header" id="selected-header">Selected</div>
        <div id="selected-list-holder"></div>
    </div>
    <div id="current-holder" class="signdiv signup-cur mr-4 ml-4">
        <div class="list-header" id="current-header">Current</div>
        <div id="current-list-holder"></div>
    </div>
    <div id="option-holder" class="signdiv signup-opt mt-2 mb-4">
        <section id="opt-left" class="opt-section">
            <div id="view-switcher" class="option-ele left-opt">
                <a id="switch-view" class="btn btn-link"><i class="fa fa-arrow-circle-o-right"></i><span> Full View</span></a>
            </div>
            <div id="checked-opts" class="left-opt">
                    <input type="checkbox" id="showOverlaps" class="opt-check-input">
                    <label for="showOverlaps" class="opt-label no-sel opt-check-label"> Hide Overlapping</label>
                    
                    <input type="checkbox" id="showCanTake" class="opt-check-input"> 
                    <label for="showCanTake" class="opt-label no-sel opt-check-label">Can Take Only</label>

                    <br>
                    
                    <input type="checkbox" id="hideCompleted" class="opt-check-input">
                    <label for="hideCompleted" class="opt-label no-sel opt-check-label"> Hide Completed</label>
                    
                    <input type="checkbox" id="hideCurrent" class="opt-check-input">
                    <label for="hideCurrent" class="opt-label no-sel opt-check-label"> Hide Current</label>
            </div>
        </section>
        <section id="opt-right" class="opt-section">
            <div class="input-group md-form form-sm form-2 pl-0">
                <input id="opt-search-input" class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
                <div id="opt-search-btn" class="input-group-append">
                  <span class="input-group-text red lighten-3" id="basic-text1">
                      <i class="fas fa-search text-grey" aria-hidden="true"></i></span>
                </div>
              </div>
            <div id="subject-switcher" class="option-ele right-opt"> 
                <select id="subject-selector">
                    <option value='' selected> Pick a subject</option>
                </select>
            </div>
            <div id="class-switcher" class="option-ele right-opt"> 
                <select id="class-selector" disabled>
                    <option value='' selected> --- </option>
                </select>
            </div>
        </section>
    </div>
    <buton id="complete-classes" class="btn btn-lg btn-success">Complete Current Classes</buton>
    <!--div id="button-holder" class="signdiv signup-btn mt-4 mb-2">Buttons</div-->
</content>

<script src="{{ url_for('static', filename='js/drawTimeGrid.js') }}"></script>
<script src="{{ url_for('static', filename='js/databaseAccess.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/drawTimes.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/drawCurrent.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/selectTimes.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/options.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/signupPage.js') }}" type="module"></script>
{% endblock content %}
