{% extends 'base.html' %}

{% block content %}
<content class="signup-holder">
    <div id="section-info-holder" class="signdiv section-info-main">
        <div id="sec-info-content" class="section-info-content">
            <div class="section-info si-header"></div>
            <div class="section-info si-time"></div>
            <div class="section-info si-days"></div>
            <div class="section-info si-date"></div>
            <div class="section-info si-extra"></div>
            <div class="section-info si-chrs"></div>
            <div class="section-info si-instructor"></div>
            <div class="section-info si-description"></div>
            <button id="section-info-close" class="btn btn-danger mb-2 mr-2">Close</button>
            <div id="section-info-selection" class="btn-group mb-2 ml-2" role="group">
                <button id="section-info-register" class="btn btn-primary btn-success">Register</button>
                <button id="section-info-unregister" class="btn btn-primary btn-danger">Unregister</button>
            </div>
        </div>
    </div>
    <div id="curClasses-main" class="signdiv signup-main" style="visibility: hidden;">
        <div class="mon-holder day-holder" id="cur-mon-holder">
            <div class="day-header" id="cur-mon-header">Monday</div>
        </div>
        <div class="tue-holder day-holder" id="cur-tue-holder">
            <div class="day-header" id="cur-tue-header">Tuesday</div>
        </div>
        <div class="wed-holder day-holder" id="cur-wed-holder">
            <div class="day-header" id="cur-wed-header">Wednesday</div>
        </div>
        <div class="thu-holder day-holder" id="cur-thu-holder">
            <div class="day-header" id="cur-thu-header">Thursday</div>
        </div>
        <div class="fri-holder day-holder" id="cur-fri-holder">
            <div class="day-header" id="cur-fri-header">Friday</div>
        </div>
    </div>
    <div id="signup-main" class="signdiv signup-main">
        <div class="mon-holder day-holder" id="full-mon-holder">
            <div class="day-header" id="full-mon-header">Monday</div>
        </div>
        <div class="tue-holder day-holder" id="full-tue-holder">
            <div class="day-header" id="full-tue-header">Tuesday</div>
        </div>
        <div class="wed-holder day-holder" id="full-wed-holder">
            <div class="day-header" id="full-wed-header">Wednesday</div>
        </div>
        <div class="thu-holder day-holder" id="full-thu-holder">
            <div class="day-header" id="full-thu-header">Thursday</div>
        </div>
        <div class="fri-holder day-holder" id="full-fri-holder">
            <div class="day-header" id="full-fri-header">Friday</div>
        </div>
    </div>
    <div id="selected-holder" class="signdiv signup-sel mr-4 ml-4">
        <div class="list-header" id="selected-header">Selected</div>
        <div id="selected-list-holder"></div>
    </div>
    <div id="current-holder" class="signdiv signup-cur mr-4 ml-4">
        <div class="list-header" id="current-header">Current</div>
        <div id="current-list-holder"></div>
    </div>
    <div id="option-holder" class="signdiv signup-opt mt-2 mb-4">
        <section id="opt-left" class="opt-section">
            <div id="view-switcher" class="option-ele">
                <a id="switch-view"><i class="fa fa-refresh"></i></a>
            </div>
            <div id="subject-switcher" class="option-ele"> 
                <select id="subject-selector">
                    <option value='' selected> Pick a subject</option>
                </select>
            </div>
        </section>
        <section id="opt-right" class="opt-section">
            <div id="opt-search" class="option-ele">
                <input id="opt-search-input" type="text" placeholder="Search.." name="search">
                <button id="opt-search-btn" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </section>
    </div>
    <!--div id="button-holder" class="signdiv signup-btn mt-4 mb-2">Buttons</div-->
</content>

<script src="{{ url_for('static', filename='js/drawTimeGrid.js') }}"></script>
<script src="{{ url_for('static', filename='js/databaseAccess.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/drawTimes.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/drawCurrent.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/selectTimes.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/options.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/signupPage.js') }}" type="module"></script>
{% endblock content %}