{% extends 'baseLoginRegister.html' %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="content-section login-holder">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log in</legend>
                <div class="form-group">
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}                       
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="login-btn") }}
            </div>
        </form>
        
    </div>
    <a id="register-link" href="{{ url_for('hiddenRegister') }}">
        <div class="login-btn" id="register-holder">Register</div>
    </a>
{% endblock content %}