{% extends 'baseLoginRegister.html' %}
{% block content %}

<div class="content-section login-holder">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register</legend>
            <div class="form-group">
                {% if form.firstName.errors %}
                    {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.firstName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.firstName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.middleName.errors %}
                    {{ form.middleName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.middleName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.middleName(class="form-control form-control-lg") }}
                {% endif %}                       
            </div>
            <div class="form-group">
                {% if form.lastName.errors %}
                    {{ form.lastName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lastName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lastName(class="form-control form-control-lg") }}
                {% endif %}                          
            </div>
            <div class="form-group">
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}                       
            </div>
            <div class="form-group">
                {% if form.confirmPassword.errors %}
                    {{ form.confirmPassword(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirmPassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirmPassword(class="form-control form-control-lg") }}
                {% endif %}                      
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="login-btn") }}
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{{ url_for('login') }}">I have an account.</a>
        </small>
    </div>
</div>
{% endblock content %}
