.list-header {
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    position: sticky;
    width: auto;
    border-bottom: 2px black solid; 
}

.list-elem {
    color: white;
    padding: .25em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: black;
    position: relative;
    /*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.list-elem:hover {
    border-color: white;
}

.list-elem:active {
    background-color: #8b8b8b;
}

.current-list-elem {
    background-color: rgb(66, 97, 66);
}

.selected-list-elem {
    background-color: rgb(143, 117, 46);
}