#opt-left {
    position: relative;
    grid-area: L;
    grid-template-areas: "sv filters";
    grid-template-columns: auto auto ;
    display: grid;
}

#opt-right {
    position: relative;
    grid-area: R;
    grid-template-areas: 
    "sr sr"
    "cla dept";
    grid-template-columns: 70% 30%;
    display: grid;
}

.opt-section {
    position: relative;
    padding: .1em;
    margin: .1em;
}

.option-ele {
    position: relative;
}

#view-switcher {
    grid-area: sv;
}

#switch-view {
    font-size: 2.1em;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

#switch-view:hover {
    color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
}

#switch-view:active {
    color: rgb(139, 139, 139);
    border-color: rgb(139, 139, 139);
    background-color: rgb(180, 180, 180);
}

#opt-search {
    position: relative;    
    grid-area: sr;    
}

#opt-search-btn {
    width: auto;
}

#checked-opts {
    grid-area: filters;
    display: grid;
    grid-template-areas: 
    "hol cto"
    "hcom hcur";
    grid-template-columns: 1fr 1fr;
}

#showOverlaps-holder {
    grid-area: hol;
}

#showCanTake-holder {
    grid-area: cto;
}

#hideCompleted-holder {
    grid-area: hcom;
}

#hideCurrent-holder {
    grid-area: hcur;
}

.opt-holder {
    position: relative;
}

.opt-check-input {
    display: inline;
    vertical-align: middle;
}

.opt-check-label {
    display: inline;
    vertical-align: middle;
}

.opt-check-label, .opt-check-input {
    position: relative;
}

.opt-check-label:hover {
    color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
}

.opt-check-input:hover + .opt-check-label {
    color: #fc0;    
}

.opt-check-input:checked + .opt-check-label {
    color: #fc0;
}

#subject-switcher {
    grid-area: dept;
    margin-right: 0;
}

#subject-selector {
    width: 100%;
}

#class-switcher {
    grid-area: cla;
}

#class-selector {
    width: 100%;
}