


#opt-left {
    position: relative;
    grid-area: L;
}

.left-opt {
    float: left;
    margin-right: 10px;
}

#opt-right {
    position: relative;
    grid-area: R;
}

.right-opt {
    float: right;
    margin-left: 10px;
}
.opt-section {
    position: relative;
    padding: .1em;
    margin: .1em;
}

.option-ele {
    position: relative;
    margin-left: 0.1em;
}

#switch-view {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

#switch-view:hover {
    color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
}

#switch-view:active {
    color: rgb(139, 139, 139);
}

#opt-search {
    position: relative;        
}

#opt-search-btn {
    width: auto;
}

#checked-opts {
    display: block;
}

.opt-check-label:hover {
    color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
}