content.signup-holder {
    /*border: 1px #fc0 solid;*/
    display: grid;
    grid-template-areas:
    ". opt opt opt ."
    "cur main main main sel"
    "cur main main main sel"
    "cur main main main sel"
    ". btn btn btn .";
    --main-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1750px;
}

.signdiv {
    border: 3px black solid;
    border-radius: 5px;
}

.signup-main {
    background-color: white;
    position: relative;
    grid-area: main;
    min-height: 400px;
    height: 60vh;
    
    width: var(--main-width);
    min-width: 800px;
    max-width: 1200px;
    display: grid;
    grid-template-areas:
    ". mon tue wed thu fri";
    grid-template-columns: 5em 1fr 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.signup-cur {
    background-color: gray;
    grid-area: cur;
    min-height: 400px;
    width: 12vw;
    min-width: 200px;
    max-width: 300px;
    visibility: hidden;
}

.signup-sel {
    background-color: gray;
    grid-area: sel;
    min-height: 400px;
    width: 12vw;
    min-width: 200px;
    max-width: 300px;
    position: relative;
    overflow: auto;
}

.signup-opt {
    background-color: gray;
    position: relative;
    grid-area: opt;
    overflow: auto;
    width: var(--main-width);
    min-width: 800px;
    max-width: 1200px;
    grid-template-areas: "L R";
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.signup-btn {
    position: relative;
    background-color: gray;
    grid-area: btn;
    overflow: auto;
    width: var(--main-width);
    min-width: 800px;
    max-width: 1200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.day-holder {
    position: relative;
    width: auto;
    height: 1480px;
}

.day-header {
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    position: sticky;
    width: auto;
    border-bottom: 2px black solid;   
}

.mon-holder {
    grid-area: mon;
    border-left: .25em solid black;
}
.tue-holder {
    grid-area: tue;
    border-left: .25em solid black;
}
.wed-holder {
    grid-area: wed;
    border-left: .25em solid black;
}
.thu-holder {
    grid-area: thu;
    border-left: .25em solid black;
}
.fri-holder {
    grid-area: fri;
    border-left: .25em solid black;
}

.time-slot-holder {
    overflow: hidden;
    text-align: center;
    width: 100%;
    float: left;
    position: absolute;
    border-radius: 5px;
    border: 1px black solid;
    color: white;
    text-shadow: 1px 0 black;
    /*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

#signup-grid-canvas {
    float: left;
    width: 100%;
    height: 1500px; /*(2, 1.599)*/ /*1800 works at (2,1.3333334)*/ /*1390 works at (2, 1.725)*/ 
    z-index: 0;
    position: absolute;
}

#complete-classes {
    position: absolute;
    left: 1em;
    bottom: 1em;
    z-index: 100000;
    font-size: .8em;
}

.loading-div { 
    position: relative;
    grid-area: main;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.541);
    visibility: hidden;
}

.loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
}

.extra-select-main {
    background-color: rgba(0, 0, 0, 0.541);
    position: relative;
    grid-area: main;
    min-height: 400px;
    height: 60vh;
    min-width: 800px;
    z-index: 9999;
    border-radius: 10px;
}

.extra-sel-content {
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 100%;
    width: 75%;
    min-width: 790px;
    margin: auto;
    margin-top: auto;
    border-radius: 10px;
    padding: .5em;
    display: grid;
    grid-template-areas:
    "head"
    "body";
    grid-template-rows: 3em auto;
    --corner-radius: 10px;
}

.extra-sel-header {
    grid-area: head;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.extra-sel-body {
    grid-area: body;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: auto;
}

.extra-input-label {
    display: block;
    user-select: none;
    margin: auto 0;
    text-align: center;
}

#extra-select-btns {
    position: absolute;
    bottom: 0;
    left: 0;
}

.alert {
    position: relative;
    grid-area: main;
    z-index: 99999;
}

.alert-major {
    margin-top: 1em;
    margin-right: auto;
    margin-left: 1em;
    margin-bottom: auto;
}

.alert-minor {
    margin-top: auto;
    margin-right: auto;
    margin-left: 1em;
    margin-bottom: -8em;
}

.alert-heading, #alert-box-body {
    overflow: hidden;
    white-space: nowrap;
}
