
content.signup-holder {
    /*border: 1px #fc0 solid;*/
    display: grid;
    grid-template-areas:
    ". opt opt opt ."
    "cur main main main sel"
    "cur main main main sel"
    "cur main main main sel"
    ". btn btn btn .";
}

.signdiv {
    border: 3px black solid;
}

.signup-main {
    background-color: white;
    grid-area: main;
    min-height: 400px;
    height: 60vh;
    min-width: 800px;
    display: grid;
    grid-template-areas:
    "mon tue wed thu fri";
    overflow: auto;
}

.signup-cur {
    background-color: rgb(141, 182, 141);
    grid-area: cur;
    min-height: 400px;
    min-width: 100px;
}

.signup-sel {
    background-color: rgb(167, 112, 112);
    grid-area: sel;
    min-height: 400px;
    min-width: 100px;

}

.signup-opt {
    background-color: gray;
    grid-area: opt;
    overflow: auto;
    min-width: 200px;
    height: 100px;
}

.signup-btn {
    background-color: gray;
    grid-area: btn;
    overflow: auto;
    min-width: 200px;
    height: 100px;
}

.day-holder {
    background-color: lightgray;
    position: relative;
    width: auto;
    height: 100%;
    border: 2px solid black;
}
.day-header {
    text-align: center;
    position: sticky;
    width: auto;
    height: 2em; 
    border-bottom: 1px black solid;   
}

#mon-holder {
    grid-area: mon;
    margin-left: 1em;
    margin-right: 1em;
}
#tue-holder {
    grid-area: tue;
    margin-right: 1em;
}
#wed-holder {
    grid-area: wed;
    margin-right: 1em;
}
#thu-holder {
    grid-area: thu;
    margin-right: 1em;
}
#fri-holder {
    grid-area: fri;
    margin-right: 1em;
}

#selected-holder {
    overflow-x: scroll;
}

#selected-list-holder {
    list-style-type: none;
    float: left;
}

.selected-list-elem {
    padding: .25em;
    margin: 1px;
    border: 1px solid black;
    box-shadow: 2px 3px black;
    max-width: 30em;
}

.selected-list-elem:hover {
    border: 1px solid white;
}

.selected-list-elem:active {
    background-color: #8b8b8b
}

.time-slot-holder {
    text-align: center;
    width: 100%;
    float: left;
    position: absolute;
    border-radius: 5px;
    border: 1px black solid;
    color: white;
    text-shadow: 1px 0 black;
    /*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


.mon-obj {
    border: 1px black solid;
    width: auto;
    height: 75px;
}


